page-berichten {
    .ongelezen{
        font-weight: bold;
        font-size: 15px;
    }

    .berichtinhoud {
        font-weight: 300;
        font-size: 10px;
    }

    .gelezen {
        font-weight: 400;
        font-size: 15px;
    }

    .footermenu {
        width: 31%;
    }
}
