page-locatieslachtoffer {
    .hulponderweg {
        font-weight: bold;
    }

    agm-map {
        display: block;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
      }
}
