page-huisartsenpost {
    .koptekst {
        font-weight: bold;
        font-size: 15px;
    }

    .tekst {
        font-size: 10px;
    }

    .blockbackground {
        background-color: lightgrey;
        border-radius: 25px;
    }
}
