page-profiel {
    .inputFields {
        border: none;
    }

    .profilePicture {
        margin: auto;
        width: 50%;
        max-width: 140px;
        height: 140px;
        top: 5%;
        border-radius: 50%;
    }

    .profileButton {
        z-index: 2;
        position: absolute;
        border-radius: 50%;
        box-shadow: 2px 2px grey;
    }

    .cardContent {
        margin-top: 15px;
        background-color: lightgrey;
    }

    .cardBackground {
        background-color: #efefef;
    }

}
